[Unit]
Description="Worker"
After=network.target
After=sound.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/home/pi/Preparer/worker/
ExecStart=/home/pi/Preparer/worker/run.sh

[Install]
WantedBy=default.target