[Unit]
Description="Worker"
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/home/playlogo/Preparer/worker/
ExecStart=/home/playlogo/Preparer/worker/run.sh

[Install]
WantedBy=default.target